@model CreateCategoryModel

<form asp-action="CreateCategory" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create a New Category</h1>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Category Name</label>
                    <input asp-for="Title" class="form-control" />
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label asp-for="AvailableCategories" class="form-label">Parent Category</label>
                    <select asp-for="SelectedParentId" asp-items="Model.AvailableCategories" class="form-control"></select>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>