<header class="header">
    <div class="header-top">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <div class="header-top-message">
                        Welcome to our store. Call <span class="phone">+78 999 443</span> for support
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <div class="selector-wrapper d-flex me-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Türkçe</a></li>
                                <li><a class="dropdown-item" href="#">عربي</a></li>
                                <li><a class="dropdown-item" href="#">Русский</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                $ USD
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">₺ - TRY</a></li>
                                <li><a class="dropdown-item" href="#">£ - GBP</a></li>
                                <li><a class="dropdown-item" href="#">€ - EUR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="customer-wrapper">
                        <button type="button" class="btn login">LOGIN</button>
                        <button type="button" class="btn register">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container-fluid px-5 py-4">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-start">
                    <a href="#">
                        <img src="/img/logo.png" />
                    </a>

                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <nav>
                        <ul>
                            <li class="selected"><a href=#">Homepage</a></li>
                            <li><a href="#">Daily</a></li>
                            <li><a href="#">Walking</a></li>
                            <li><a href="#">Sport</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col d-flex align-items-center justify-content-end gap-3 header-tools">
                    <a href="#" class="search"><i class="bi bi-search"></i></a>
                    <a href="#" class="fav"><i class="bi bi-heart"></i></a>
                    <a href="#" class="cart fill"><i class="bi bi-cart"></i></a>
                </div>
            </div>
        </div>
    </div>

</header>