@model List<CategoryViewModel>
<nav>
    <ul>
        <li><a href="#">Ana Sayfa</a></li>
        @foreach (var category in Model)
        {
            <li>
                <a asp-route="CategoryDetail" asp-route-id="@category.Id" title="@category.AlternateText">
                    @category.Title
                </a>
            </li>
        }
    </ul>
</nav>